[SddmGreeterTheme]
Name=hacker-theme
Description=hacker-theme
Author=Qaddoumi
Website=https://github.com/Qaddoumi/hacker-theme
License=MIT
Type=sddm-theme
Version=1.0
ConfigFile=theme.conf
MainScript=Main.qml
Theme-Id=hacker-theme
Theme-API=2.0
QtVersion=6