[SddmGreeterTheme]
Name=Hacker theme
Description=Hacker theme for SDDM
Author=User
Copyright=Public Domain
License=CC0
Type=sddm-theme
Version=1.0
Website=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=sddm-hacker-theme
Theme-API=2.0